@model IEnumerable<ASPdotNetMVC.Models.NEWS>
@{
    ViewBag.Title = "Tin tức";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="col-md-10">
    @Html.ActionLink("Đăng tin mới", "Insert", new { }, new { @class = "btn btn-sm btn-success" })

    <ul class="timeline timeline-simple">
        @foreach (var item in Model)
        {
            <li class="timeline-inverted">
                <div class="timeline-badge success">
                    <i class="material-icons">extension</i>
                </div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <span class="label label-success">@item.TITLE</span>
                    </div>
                    <div class="timeline-body">
                        <p>
                            @Html.Raw(HttpUtility.HtmlDecode(item.CONTENT))
                        </p>
                    </div>
                    <h6>
                        <i class="ti-time"></i> @item.TIME.ToString()
                        @Html.ActionLink("Sửa tin", "update", "news", new { id = item.ID }, new { @class = "btn btn-sm btn-success pull-right" }) |
                        @Html.ActionLink("Xóa tin", "delete", "news", new { id = item.ID }, new { @class = "btn btn-sm btn-success pull-right" })
                    </h6>
                </div>
            </li>
        }
    </ul>
</div>